table{
    width: 100%;
}
nz-select {
    margin: 0 8px 10px 0;
    width: 100%;
  }
nz-date-picker{
    width: 100%;
}
button{
    margin: 1rem;
}
.steps-content{
    p{
        margin: 0;
        color: rgb(207, 13, 13);
        font-size: smaller;
    }
}