<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="/" target="_blank">
                <!-- <img src="assets/logoBrc.png" alt="logo"> -->
                <img src="https://cdn.itviec.com/employers/brycen-vietnam/logo/social/QYZWsYfi4dCc9qd1FDaQhqUm/brycen-vietnam-logo.png"
                    alt="logo">
                <h1>Brycen Viet Nam</h1>
            </a>
        </div>
        <!-- Danh sách router -->
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: routerList }"></ng-container>
            <ng-template #menuTpl let-menus>
                <ng-container *ngFor="let router of routerList">
                    <ng-container *ngIf="router.title!=='Master'">
                        <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                            [nzTitle]="isCollapsed ? router.title : ''" routerLinkActive="active">
                            <a [routerLink]="[router.path]">
                                <i nz-icon [nzType]="router.icon"></i>
                                <span>{{router.title}}</span>
                            </a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="router.title=='Master'">
                        <li nz-submenu [nzTitle]="!isCollapsed ? router.title : ''" nzIcon="user">
                            <ul>
                                <ng-container *ngFor="let router of routerMaster">
                                    <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                                        [nzTitle]="isCollapsed ? router.title : ''" routerLinkActive="active">
                                        <a [routerLink]="[router.path]">
                                            <i nz-icon [nzType]="router.icon"></i>
                                            <span>{{router.title}}</span>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ng-container>
            </ng-template>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <!-- <div> -->
                    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    </span>
                <!-- </div>
                <div> -->
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i class="trigger" nz-icon nzType="user" nzTheme="outline" ></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="signOut()">Log out</li>
                        </ul>
                    </nz-dropdown-menu>
                <!-- </div> -->
            </div>

        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>